#jinja2: trim_blocks: "true", lstrip_blocks: "false"
{
 {% if envs is defined %}
    {% for tuple in envs %}
      "{{ tuple.name }}": {
      "value": "{{ tuple.value }}"
      {% if loop.last %} 
      }
      {% else %}
      },
      {% endif %}
        {% endfor %}
{% endif %}

}